<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ShapeShift</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../public/css/main-style.css">
</head>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-body">
            <h1>Add Post</h1>
            <form role="form" method="POST" action="">
              <input type="hidden" name="_token" value="">
              <div class="form-group">
                      
                      <div class="form-outline mb-4">
                          <input type="text" id="category" class="form-control" />
                          <label class="form-label" for="name4">Category</label>
                      </div>
                      <div class="form-outline mb-4">
                          <input type="text" id="reps" class="form-control" />
                          <label class="form-label" for="name4">Reps</label>
                      </div>
  
                      <div class="form-outline mb-4">
                          <input type="text" id="sets" class="form-control" />
                          <label class="form-label" for="name4">Sets</label>
                      </div>
  
                      <div class="form-outline mb-4">
                          <input type="text" id="weight" class="form-control" />
                          <label class="form-label" for="name4">Weight</label>
                      </div>
  
                      <div class="form-outline mb-4">
                          <input type="text" id="distance" class="form-control" />
                          <label class="form-label" for="name4">Distance</label>
                      </div>
  
                      <div class="form-outline mb-4">
                          <input type="text" id="duration" class="form-control" />
                          <label class="form-label" for="name4">Duration</label>
                      </div>
  
                      <div class="form-outline mb-4">
                          <input type="text" id="details" class="form-control" />
                          <label class="text-label" for="name4">Details</label>
                      </div>
  
                      <button id="submit-workout" type="submit" class="btn btn-primary btn-block">Send</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>