<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../public/login-style.css">
</head>
<body>
  <div class="login-container">
    <h1>ShapeShift</h1>
    <form>
      <input id="username-login" type="text" placeholder="Username or Email">
      <input id="password-login" type="password" placeholder="Password">
      <button class="login-button">Log In</button>
    </form>
     <p>Don't have an account? <a href="./sign-up.html" class="sign-up-link">Sign Up</a></p>
   
  </div>
</body>
<script src="../public/js/signup.js"></script>
</html>