
<style>

html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  

  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  
  a {
    text-decoration: none;
  }
  
  .txt-rt {
    text-align: right;
  }
  
  
  .txt-lt {
    text-align: left;
  }
  
  /* text align left */
  .txt-center {
    text-align: center;
  }
  
  /* text align center */
  .float-rt {
    float: right;
  }
  
  /* float right */
  .float-lt {
    float: left;
  }
  
  /* float left */
  .clear {
    clear: both;
  }
  
  /* clear float */
  .pos-relative {
    position: relative;
  }
  
  /* Position Relative */
  .pos-absolute {
    position: absolute;
  }
  
  /* Position Absolute */
  .vertical-base {
    vertical-align: baseline;
  }
  
  /* vertical align baseline */
  .vertical-top {
    vertical-align: top;
  }
  
  /* vertical align top */
  nav.vertical ul li {
    display: block;
  }
  
  /* vertical menu */
  nav.horizontal ul li {
    display: inline-block;
  }
  
  /* horizontal menu */
  img {
    max-width: 100%;
  }
  
  /*-- end reset --*/
  body {
    background: #f0f0f0;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    font-size: 3em;
    text-align: center;
    color: #000000;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
  }
  

  .main-w3layouts {
    padding: 3em 0 1em;
  }
  
  .main-agileinfo {
    width: 35%;
    margin: 3em auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    background-size: cover;
  }
  
  .agileits-top {
    padding: 3em;
  }
  
  input[type="text"], input[type="email"], input[type="password"]{
    font-size: 0.9em;
    color: #000000;
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: solid;
    padding: 0.8em;
    border: solid 1px rgba(0, 0, 0, 0.37);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #000000;
    font-family: 'Roboto', sans-serif;
  }
  
  input.email, input.text.w3lpass{
    margin: 2em 0;
  }
  
  .text:focus, .text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
  }
  
  .text:focus::-webkit-input-placeholder, .text:valid::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
    font-size: .9em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
  }
  
  
  

  
  
  
  :-ms-input-placeholder {
    color: #010000;
  }
  
  input[type="submit"] {
    font-size: .9em;
    color: #000000;
    background: #3498db;
    outline: none;
    cursor: pointer;
    padding: 0.9em;
    
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
  }
  
  input[type="submit"]:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: #3498dbd7;
  }
  
  .agileits-top p {
    font-size: 1em;
    color: #000000;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
  }
  
  .agileits-top p a {
    color: #000000;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    font-weight: 400;
  }
  
  .agileits-top p a:hover {
    color: #6296ff;
  }  
  </style>
</head>
<body>
	<div class="main-w3layouts wrapper">
		<h1>ShapeShift</h1>
        <h1>Create Account</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form class="signup-form">
				    <input  class="text" type="text" name="name" placeholder="Name" id="name-signup" required="">
					<input  class="text email" type="email" name="email" placeholder="Email" id="email-signup" required="">
					<input id="password-signup" class="text" type="password" name="password" placeholder="Password" required="">
						
					<div class="wthree-text">
						<div class="clear"> </div>
					</div>
					<input class="submit" type="submit" value="SIGNUP">
				</form>
				<p>Have an Account? <a href="/login"> Login Now!</a></p>
			</div>
</body>
<script src="/js/signup.js"></script>
 {{#if logged_in}}    
    <script src="js/logout.js"></script>
    {{/if}}
</html>