<!DOCTYPE html>
<html>
<head>
<title>SignUp Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<link href="../public/css/signup-style.css" rel="stylesheet" />
</head>
<body>
	<div class="main-w3layouts wrapper">
		<h1>ShapeShift</h1>
        <h1>Create Account</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="post">
					<input id="email-signup" class="text email" type="email" name="email" placeholder="Email" required="">
					<input id="password-signup" class="text" type="password" name="password" placeholder="Password" required="">
					<input id="check-password" class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
					<div class="wthree-text">
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNUP">
				</form>
				<p>Have an Account? <a href="./login.html"> Login Now!</a></p>
			</div>
</body>
<scrift href="../public/js/signup.js"></scrift>
</html>