<!DOCTYPE html>
<html lang="en">

<head>
    <title>ShapeShift</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../public/css/main-style.css">
</head>

<body>
<!--navbar for webpage -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/login">ShapeShift</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="../workout.html">Workouts</a></li>
                <li><a href="../blog.html">Blog</a></li>
                <li><a href="../profile.html">Profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if loggedIn}}
                    <!-- User is logged in, so show a different link or content -->
                    <li><a href="/homepage"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                {{else}}
                    <!-- User is not logged in, show the Sign Up link -->
                    <li><a href="/signup"><span class="glyphicon glyphicon-log-in"></span>Sign Up</a></li>
                {{/if}}
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div>
    {{{body}}}
</div>

</html>
