body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 40px;
  width: 300px;
}

h1 {
  font-size: 24px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.social-login {
  margin: 20px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 0 5px;
  background-size: 20px 20px;
}

.forgot-password, .sign-up-link {
  color: #3498db;
  text-decoration: none;
}

.forgot-password:hover, .sign-up-link:hover {
  text-decoration: underline;
}